.small-marg-right {
    margin-right: 20px;
}
header {
    min-height:400px;
    background-size:cover;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../assets/Images/header.jpeg");
    background-position:right;
    background-repeat: no-repeat;
}

.box-shadow {
  -webkit-box-shadow: 0 0 15px 2px rgb(0,0,0,0.2);
  -moz-box-shadow: 0 0 15px 2px rgb(0,0,0,0.2);
  box-shadow: 0 0 15px 2px rgb(0,0,0,0.2);
}
@media only screen and (max-width: 600px) {
    .box-shadow {
        -webkit-box-shadow: 0 0 15px 2px rgb(0,0,0,0);
        -moz-box-shadow: 0 0 15px 2px rgb(0,0,0,0);
        box-shadow: 0 0 15px 2px rgb(0,0,0,0);
    }
} 

.hidden-spacer {
    height: 56px
}
.link-nobg:hover{
    background-color:transparent !important;
    cursor:default;
}
.opacity-1 {
  background: rgba(62, 65, 62, 0.2)
}
.opacity-2 {
  background: rgba(62, 65, 62, 0.4)
}
.opacity-3 {
  background: rgba(62, 65, 62, 0.6)
  
}
.opacity-4 {
  background: rgba(62, 65, 62, 0.8)
}
.opacity-5 {
  background: rgba(62, 65, 62, 1)

}
.opacity-1-n {
  opacity: .2;
}
.opacity-2-n {
  opacity: .4;
}
.opacity-3-n {
  opacity: .6;
  
}
.opacity-4-n {
  opacity: .8;
}
.opacity-5-n {
  opacity: 1;
}
.blur-header {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.fax-padding {
  margin-left: 12px;
}
.search-large {
  font-size: 20px;
  font-weight: 600;
}
  /* Maybe even support hover opacity shifts */
  .opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
  }
  .opacity-0h5:hover {
    opacity:1!important;
  }

  /* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; } 

.search-large:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
    color: rgb(0, 0, 0);
}
.card2{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  width: 320px; 
  height: 200px;
}

.card2:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card2 h3{
  font-weight: 600;
}

.card2 img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card2-1{
  background-image: url("../assets/Images/PropertyTaxInfo.png");
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card2-2{
   background-image: url("../assets/Images/FormsPermitsPolicies.png");
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card2-3{
   background-image: url("../assets/Images/WaterDistrict.png");
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
.card2-4{
  background-image: url("../assets/Images/recycling-container.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
.card2-5{
  background-image: url("../assets/Images/Zoning.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
.card2-6{
  background-image: url("../assets/Images/ZoningMaps.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
.card2-7{
  background-image: url("../assets/Images/TownshipMasterPlan.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
.card2-8{
  background-image: url("../assets/Images/ParksMasterPlan.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
.card2-9{
  background-image: url("../assets/Images/TownshipRecreation.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
.card2-10{
  background-image: url("../assets/Images/voting.png");
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}

@media(max-width: 320px){
  .card2{
    width: 280px; 
    height: 200px;
  }
} 

.footer-bs {
  background-color: #3c3d41;
padding: 60px 40px;
color: rgba(255,255,255,1.00);
border-bottom-right-radius: 6px;
border-top-left-radius: 0px;
border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
