    <!--2020 Board Meetings-->
    <div id="2020bm" class="mx-auto d-none table-holder" style="max-width: 1300px;">
      <h1>2020 Board Meetings</h1>
      <p style="max-width: 500px;" class="lead">Meetings are held on the <strong>2nd Tuesday</strong> of each month at
        the <a href="https://goo.gl/maps/piPSR82zw8zMaiNy7" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Click for Directions" style="color: black;"><strong>Lincoln Township Hall.</strong></a> Meetings begin
        at <em>7:00pm Unless otherwise specified</em></p>
      <div class="box-shadow">
        <table class="table table-striped align-middle mx-auto">
          <thead>
            <tr>
              <th scope="col"  class="sticky-table-head">Date</th>
              <th scope="col"  class="sticky-table-head">Agenda</th>
              <th scope="col"  class="sticky-table-head">Meeting Minutes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">January 14th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/janmtg/janagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/janmtg/janmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">February 11th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/febmtg/febagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/20200b/febmtg/febmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">March 10th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/marmtg/maragnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/marmtg/marmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">March 17th<br><small class="text-muted"> Budget Meeting Workshop <u>6:00pm</u></small>
              </th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/marbwmtg/marbwagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/marbwmtg/marbwmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">March 24th<br><small class="text-muted">Special Meeting <u>6:00pm</u></small></th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/marspcmtg/marsmagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/marspcmtg/marsmmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">April 14th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/aprmtg/apragnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/aprmtg/aprmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">May 12th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/maymtg/mayagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/maymtg/maymin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">June 9th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/junmtg/junagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/junmtg/junmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">July 14th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/julmtg/julagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/julmtg/julmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">August 11th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/augmtg/augagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/augmtg/augmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">Spetember 8th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/sepmtg/sepagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/sepmtg/sepmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">October 13th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/octmtg/octagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/octmtg/octmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">November 10th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/novmtg/novagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/novmtg/novmin.pdf')">View</button></td>
            </tr>
            <tr>
              <th scope="row">December 8th</th>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/decmtg/decagnd.pdf')">View</button></td>
              <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  onclick="setSrc('brdmtgs/2020b/decmtg/decmin.pdf')">View</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>