<div id="2021pm" class="mx-auto d-none table-holder" style="max-width: 1300px;">
  <h1>2021 Planning Commission Meetings</h1>
  <p style="max-width: 500px;" class="lead">Meetings are held at the <a href="https://goo.gl/maps/piPSR82zw8zMaiNy7" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top"
      title="Click for Directions" style="color: black;"><strong>Lincoln Township Hall.</strong></a> Meetings begin
    at <em>6:30pm Unless otherwise specified</em></p>
  <div class="box-shadow">
    <table class="table table-striped align-middle mx-auto">
      <thead>
        <tr>
          <th scope="col" class="sticky-table-head">Date</th>
          <th scope="col" class="sticky-table-head">Agenda</th>
          <th scope="col" class="sticky-table-head">Meeting Minutes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">January 19th</th>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/janmtg/janagnd.pdf')">View</button></td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/janmtg/janmin.pdf')">View</button></td>
        </tr>
        <tr>
          <th scope="row">March 2nd</th>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/marmtg/maragnd.pdf')">View</button></td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/marmtg/marmin.pdf')">View</button></td>
        </tr>
        <tr>
          <th scope="row">May 4th</th>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/maymtg/mayagnd.pdf')">View</button></td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/maymtg/maymin.pdf')">View</button></td>
        </tr>
        <tr>
          <th scope="row">July 21st</th>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/julmtg/julagnd.pdf')">View</button></td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/julmtg/julmin.pdf')">View</button></td>
        </tr>
        <tr>
          <th scope="row">September <span class="text-muted">TBD</span></th>
          <td><button type="button" class="btn btn-primary customDisabled" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/sepmtg/sepagnd.pdf')">View</button></td>
          <td><button type="button" class="btn btn-primary customDisabled" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/sepmtg/sepmin.pdf')">View</button></td>
        </tr>
        <tr>
          <th scope="row">December <span class="text-muted">TBD</span></th>
          <td><button type="button" class="btn btn-primary customDisabled" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/decmtg/decagnd.pdf')">View</button></td>
          <td><button type="button" class="btn btn-primary customDisabled" data-bs-toggle="modal" data-bs-target="#exampleModal"
              onclick="setSrc('brdmtgs/2021p/decmtg/decmin.pdf')">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>