    <!--2021 planning Commission Meetings-->
    <div id="2021pm" class="mx-auto d-none table-holder" style="max-width: 1300px;">
        <h1>2021 Planning Commission Meetings</h1>
        <p style="max-width: 500px;" class="lead">Meetings are held at the <a href="https://goo.gl/maps/piPSR82zw8zMaiNy7" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Click for Directions" style="color: black;"><strong>Lincoln Township Hall.</strong></a> Meetings begin
          at <em>6:30pm Unless otherwise specified</em></p>
        <div class="box-shadow">
          <table class="table table-striped align-middle mx-auto">
            <thead>
              <tr>
                <th scope="col" class="sticky-table-head">Date</th>
                <th scope="col" class="sticky-table-head">Agenda</th>
                <th scope="col" class="sticky-table-head">Meeting Minutes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">January 19th</th>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/janagnd/janagnd.htm')">View</button></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/janmin/janmin.htm')">View</button></td>
              </tr>
              <tr>
                <th scope="row">March 2nd</th>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/febagnd/febagnd.htm')">View</button></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/febmin/febmin.htm')">View</button></td>
              </tr>
              <tr>
                <th scope="row">May 4th</th>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/maragnd/maragnd.htm')">View</button></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/marmin/marmin.htm')">View</button></td>
              </tr>
              <tr>
                <th scope="row">July 20th</th>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/maragnd/maragnd.htm')">View</button></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/marmin/marmin.htm')">View</button></td>
              </tr>
              <tr>
                <th scope="row">September </th>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/maragnd/maragnd.htm')">View</button></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/marmin/marmin.htm')">View</button></td>
              </tr>
              <tr>
                <th scope="row">December <span class="text-muted">TBD</span></th>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/maragnd/maragnd.htm')">View</button></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    onclick="setSrc('brdmtgs/2021b/marmin/marmin.htm')">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>